sudo: false
language: node_js
node_js:
  - 'lts/*'
script:
  - 'npm run build'
  - 'npm test'
before_deploy:
  - npm version --no-git-tag-version --force $(npx semver -- -i minor $(npm info vbb-graph version))
deploy:
  provider: npm
  on:
    branch: master
    node: stable
  email: 'mail@jannisr.de'
  api_key: ${NPM_KEY}
  skip_cleanup: true
